*::-webkit-input-placeholder {
	color: #ccc;
	opacity: 1;
}
*:-moz-placeholder {
	color: #ccc;
	opacity: 1;
}
*::-moz-placeholder {
	color: #ccc;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #ccc;
	opacity: 1;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
button,
input {
	border: none;
	outline: none;
}
h1 {
	font-family: "Playfair Display";
	margin: 0;
	font-size: 41px;
	line-height: normal;
	font-weight: 400;
	color: #000;
	margin: 0;

}
h2 {
	font-size: 34px;
	line-height: normal;
	font-weight: 400;
	color: #000;
	font-family: "Playfair Display";
	margin: 0;
}
h4 {
	font-size: 28px;
	line-height: normal;
	font-weight: 400;
	color: #000;
	font-family: "Playfair Display";
	margin: 0;
}
p {
	margin: 0;
	margin-bottom: 15px;
	line-height: 30px;
}
body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}

/* Шапка */
header {
	background: #121212;
	top: -136px;
	transition: all .5s linear;
}
header.fix {
	position: fixed;
	z-index: 10;
	top: 0px;
	left: 0;
	right: 0;
}
.bg {
	height: 136px;
	background: #121212;
	display: none;
}
header.fix + .bg {
	display: block;
}
.container_flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.container_flex .navbar {
	min-height: 136px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.container_flex::before,
.container_flex::after {
	display: none;
}
ul.header_nav_ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}
ul.header_nav_ul li {
	position: relative;
}
ul.header_nav_ul > li > a{
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 50px 30px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	overflow: hidden;
	font-weight: bold;
	line-height: 1.916;
	transition: all .2s ease-in-out;
}
ul.header_nav_ul > li > a:hover,
ul.header_nav_ul > li > a.active,
ul.drop_menu > li > a:hover {
	color: #b0976d;
}
ul.header_nav_ul > li ul.drop_menu {
	/*display: none;*/
	position: absolute;
	z-index: 10;
	min-width: 250px;
	top: 100%;
	left: auto;
	right: auto;
	background: #121212;
	padding: 30px;
	margin: 0;
	visibility: hidden;
	opacity: 0;
	transition: all .2s linear;

}
ul.header_nav_ul > li ul.drop_menu.opened {
	visibility: visible;
	opacity: 1;
	top: 80%;
}
ul.drop_menu > li > a {
	display: block;
	font-size: 12px;
	padding: 5px 10px;
	color: #fff;
	white-space: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	font-weight: normal;
	line-height: 1.916;
	transition: all .1s ease-in-out;
}

a.search_button {
	font-size: 14px;
	color: #fff;
	padding: 50px 0px;
	transition: all .2s ease-in-out;
}
.mobile_search i {
	margin-right: 10px;
}
a.search_button:hover {
	color: #b0976d;
}
.mob_menu_btn {
	background: transparent;
	padding: 9px 10px;
	border-radius: 4px;
	color: #fff;
}
.mob_menu_btn:hover {
	background: #b0976d;
}
.mob_menu_btn .hamb {
	display: block;
	height: 14px;
	width: 22px;
	position: relative;
}
.mob_menu_btn .hamb > span {
	display: block;
	width: 100%;
	height: 2px;
	background: #ffffff;
	border-radius: 1px;
	margin-bottom: 4px;
}
.mob_menu_btn .hamb > span:last-child {
	margin: 0;
}

/* Первая секция */
.header_section {
	background: #121212;
}
.header_section > div {
	background: url(../img/bg1.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
}
.header_section .caption_block {
	display: inline-block;
}
.header_section .caption_block .first {
	color: rgba(176,151,109,1.00);
	font-size: 14px;
	white-space: nowrap;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	text-align: left;
}
.header_section .caption_block .second {
	font-family: Playfair Display;
	font-style: italic;
	text-align: left;
	line-height: 48px;
	letter-spacing: 0px;
	font-weight: 300;
	font-size: 48px;
	color: #fff;
}
.header_section .caption_block .third {
	color: #fff;
	font-size: 90px;
	font-weight: 400;
	text-align: left;
	line-height: 90px;
	font-family: Playfair Display;
}
.header_section img {
	max-width: 100%;
}
/* Вторая секция */
.glass_man_section .img_block {
	padding: 0;
}
.title {
	margin: 0;
	color: #b0976d;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	position: relative;
}
.description_block h1 {
	margin-bottom: 90px;
}
.description_block .text_block {
	margin-bottom: 35px;
}
.description_block .text_block p {
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: normal;
	text-transform: none;
	letter-spacing: 0;
}
.description_block .text_block p:last-of-type {
	margin-bottom: 0;
}
.glass_man_section .description_block {
	padding: 50px 20px;
}
.glass_man_section .signature {
	margin-top: 90px;
}
/* секция текущий выпуск */
.current_release_section {
	padding: 150px 0 30px;
	background-color: #f1f1f1;
}
.current_release_section .img_block {
	padding: 0;
	text-align: right;
}
.current_release_section .img_block img {
	max-width: 585px;
	width: 100%;
}
.current_release_section .description_block {
	padding-left: 30px;
	padding-right: 10%;
}

.link_block {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 90px;
	margin-bottom: 90px;
}
.link_block a,
.our_wines_section_5 a.gallery_link,
.estate_section_9 a.contact_link {
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 200px;
	text-align: center;
	height: 48px;
	line-height: 45px;
	text-decoration: none;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
}
.link_block a:first-child,
.our_wines_section_5 a.gallery_link,
.estate_section_9 a.contact_link {
	background: #b0976d;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
	background-repeat: no-repeat;
	background-position: 0px 50px;
	transition: all .1s linear;
	margin-right: 30px;
}
.link_block a:first-child:hover,
.our_wines_section_5 a.gallery_link:hover,
.estate_section_9 a.contact_link:hover {
	background-position: 0px 0px;
}
.link_block a:last-child {
	background: #000000;
}
.current_release_section .tovar_id a {
	color: #b0976d;
	text-decoration: none;
}
/* Секция */
.img_section {
	padding: 50px 0 150px;
}
.img_section .flex-row {
	align-items: stretch;
}
.img_section .flex-row > div {
	padding: 0;
}
.img_section .flex-row > div.descript_bg_block {
	background: url('../img/box-promo-pattern.png') no-repeat;
	text-align: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.img_section .descript_bg_block .fix {
	width: 350px;
	margin-top: -40px;
}
.img_section .descript_bg_block img {
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
}
.img_section .title_block p {
	color: #cebc9e;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0;
}
.img_section .title_block h1 {
	color: #ffffff;
	line-height: normal;
	margin: 0;
}
.img_section .img_block {
	max-height: 700px;
}
.img_section .img_block img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* Секция сорта */
.varieties_section {	
	background: #f1f1f1;
	padding: 0;
	padding-top: 150px;

}
.varieties_section .sort {
	display: flex;
	padding-bottom: 150px;
}
.varieties_section .sort > div {
	padding: 0;
}
.varieties_section .bootle_block.left {
	padding-right: 60px;
	text-align: left;
}
.varieties_section .bootle_block.right {
	padding-left: 60px;
	text-align: right;
}
.varieties_section .bootle_block .bootle {
	margin-bottom: 35px;
	margin-top: 35px;
}
.varieties_section .bootle_block .bootle img {
	width: 97%;
}
.varieties_section .counter {
	padding: 0;
}
.varieties_section .counter_block {
	padding: 0;
	text-align: center;
}
.varieties_section .counter_block span {
	font-size: 60px;
	font-weight: bold;
	color: #000;
	font-family: "Playfair Display";
}
.varieties_section .description_block {
	background-color: #fff;
	background-image: url('../img/triangles-icn.png');
	background-repeat: no-repeat;
	height: 100%;
	padding: 20%;
}
.varieties_section .description_block h2 {
	margin-bottom: 55px;
}
.varieties_section ul.list_ul {
	margin-bottom: 55px;
	padding: 0;
}
.varieties_section ul.list_ul li {
	font-size: 16px;
	line-height: 30px;
	padding-bottom: 3px;
}
.varieties_section ul.list_ul li::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 1px;
	width: 30px;
	background: #b0976d;
	margin-right: 30px;
}
.varieties_section a.by_now {
	display: block;
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
	text-transform: uppercase;
	width: 200px;
	text-align: center;
	height: 48px;
	line-height: 45px;
	background: #000000;
}

/* Секция усадьба */
.estate_section {
	text-align: center;
}
.estate_section > .container {
	padding: 150px 0;
}
.estate_section .flex-row,
.estate_section_8 .flex-row {
	align-items: stretch;
	background-color: #f1f1f1;
}
.estate_section .img_block {
	max-height: 700px;
}
.estate_section .img_block img,
.estate_section_8 .img_block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.estate_section .description_block,
.estate_section_8 .description_block  {
	display: flex;
	justify-content: center;
	align-items: center;
}
.estate_section .description_block .fix {
	width: 350px;
}
.estate_section .link_block,
.estate_section_8 .link_block {
	margin-top: 90px;
	margin-bottom: 0;
}
.estate_section .link_block a,
.estate_section_8 .link_block a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
	text-transform: uppercase;
	width: 210px;
	text-align: center;
	height: 48px;
	line-height: 45px;
	background: #000000;
	margin: 0 auto;
}
/* Секция Инстаграм */
.inst_section {
	background-color: #f1f1f1;
	padding: 150px 15px;
}
.inst_section > .container {
	padding: 0;
}
.inst_section .flex-row {
	align-items: stretch;
}
.inst_section .inst_description {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #121212;
	min-height: 530px;
}
.inst_section .inst_description .fix {
	width: 285px;
	text-align: center;
}
.inst_section .inst_description h2 {
	margin-bottom: 5px;
	color: #fff;
	line-height: normal;
	font-family: "Playfair Display";
	letter-spacing: 0;
	font-size: 34px;
	line-height: 34px;
}
.inst_section .inst_description span {
	font-weight: bold;
	font-size: 72px;
	line-height: 72px;
	text-transform: uppercase;
	color: #fff;
	position: relative;
	margin-bottom: 10px;
	font-family: "Playfair Display";
	display: block;
}
.inst_section .inst_description .title {
	line-height: 70px;
}
.inst_section .inst_description a.follow {
	color: #fff;
	background-color: #b0976d;
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	display: block;
	width: 180px;
	height: 50px;
	line-height: 46px;
	text-align: center;
	margin: 0 auto;
	text-decoration: none;
}
.inst_section ul.inst_photos {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	height: 100%;
}
.inst_section ul.inst_photos > li {
	width: 33.3333%;
	height: 50%;
}
.inst_section ul.inst_photos a {
	display: block;
	height: 100%;
	width: 100%;
}
.inst_section ul.inst_photos img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* Секция visit_section */
.visit_section {
	padding: 150px 0;
	text-align: center;
	background: url('../img/visit-us-back.jpg') no-repeat;
	background-size: cover;
	background-position: center 0px;
}
.visit_section .wrap {
	margin: 0 auto;
	max-width: 555px;
}
.visit_section h1 {
	margin-bottom: 55px;
}
.visit_section p {
	margin: 0;
	margin-bottom: 90px;
	line-height: 30px;
	font-size: 16px;
}
.visit_section .link_block {
	justify-content: center;
	margin: 0;
}
/* Секция visit_section */
.form_section {
	padding: 150px 0;
	text-align: center;
}
.form_section .wrap {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 15px;
}
.form_section h1 {
	margin-bottom: 55px;
}
.form_section .sign_in {
	position: relative;
	border: 1px solid #e9e9e9;
}
.form_section .sign_in .field {
	width: 100%;
	height: 82px;
	line-height: 80px;
	padding: 0 180px 0 30px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: 700;
	background: transparent;
}
.sign_in .field::-webkit-input-placeholder {
	color: #ccc;
	opacity: 1;
}
.sign_in .field:-moz-placeholder {
	color: #ccc;
	opacity: 1;
}
.sign_in .field::-moz-placeholder {
	color: #ccc;
	opacity: 1;
}
.sign_in .field:-ms-input-placeholder {
	color: #ccc;
	opacity: 1;
}
.form_section .sign_in_btn_block {
	position: absolute;
	right: 0;
	top: 0;
	width: 150px;
	height: 82px;
}
.form_section .sign_in_btn_block::before {
	content: "";
	display: block;
	width: 1px;
	height: 50%;
	background: #e9e9e9;
	position: absolute;
	left: 0;
	top: 25%;
}
.form_section .sign_in .sign_in_btn {
	background: transparent;
	display: block;
	width: 100%;
	height: 82px;
	line-height: 80px;
	text-align: center;
	color: #b0976d;
	font-weight: bold;
}

/*  Страница НАШИ ВИНА */
/*=====================*/
/*Секция 1*/

.our_wines_header_section img {
	width: 100%;

	object-fit: contain;
}
/*Секция 2*/ 
.our_wines_section_2,
.estate_section_2 {
	padding: 130px 0;
}
.our_wines_section_2 .title,
.estate_section_2 .title {
	line-height: 28px;
}
.our_wines_section_2 .title::before,
.estate_section_2 .title::before {
	content: '';
	position: absolute;
	width: 30px;
	height: 1px;
	background: #b0976d;
	left: -45px;
	top: 12px;
}
.our_wines_section_2 h1,
.estate_section_2 h1 {
	font-size: 48px;
	text-transform: uppercase;
	margin-bottom: 80px;
}
.our_wines_section_2 p,
.estate_section_2 p {
	width: 50%;
	line-height: 30px;
}
/*Секция 3*/

.our_wines_section_3 .bootle_block {
	padding: 0 !important;
}
.our_wines_section_3 .bootle_block .bootle img {
	width: 100%;
}
/*Секция 4*/

.our_wines_section_4 {
	padding: 150px 0;
}
.our_wines_section_4 .title_block {
	text-align: center;
	margin-bottom: 55px;
}
.our_wines_section_4 p {
	margin-top: 0;
	line-height: 1.916;
}
.our_wines_section_4 .item {
	margin-bottom: 35px;
}
.our_wines_section_4 .text_row .item {
	margin-bottom: 90px;
}
.our_wines_section_4 .img_block {
	margin-bottom: 50px;
}
.our_wines_section_4 .img_block img {
	width: 100%;
	object-fit: cover;
}
.our_wines_section_4 h4 {
	margin-bottom: 40px;
}
/*Секция 5*/
.our_wines_section_5 {
	background: url('../img/our_wines/our-cellar-background.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	padding: 150px 0;
}
.our_wines_section_5 .wrap {
	width: 80%;
	margin: 0 auto;
	padding: 90px;
	background-color: rgb(17,17,17);
	background-color: rgba(17,17,17,0.8);
	color: #fff;
	text-align: center;
}
.our_wines_section_5 h2,
.our_wines_section_5 p {
	color: #fff;
	margin-bottom: 40px;
	font-family: "Playfair Display";
}
.our_wines_section_5 a.gallery_link {
	width: 230px;
	margin: 0 auto;
}


/*  Страница OUR_STORY */
/*=====================*/
/*Секция 1*/

.our_story_section_1 {
	background: #000;
	padding: 130px 0;
	text-align: center;
}
.our_story_section_1 h1 {
	color: #fff;
	margin-bottom: 80px;
	font-size: 48px;
	line-height: 65px;
	text-transform: uppercase;
}
.our_story_section_1  p {
	color: rgba(255,255,255,0.3);
	max-width: 570px;
	margin: 0 auto;
	line-height: 30px;
}

/*Секция 2*/
.our_story_section_2 img {
	width: 100%;
	height: auto;
}
/*Секция 3*/
.our_story_section_3  {
	background: url('../img/our_story/our-story-back-image.jpg') no-repeat;
	background-size: cover;
	padding: 120px 0 150px;
}

.our_story_section_3 h2 {
	margin: 30px 0 15px;
}
.our_story_section_3 p {
	margin: 0;
	margin-bottom: 15px;
	line-height: 30px;
}
.our_story_section_3 .title_block {
	text-align: center;
	padding: 90px 0 55px;
}

.our_story_section_3 h1 {
	line-height: normal;
	display: block;
	margin: 0 auto;
	max-width: 560px;
}

/*Секция 4*/
.our_story_section_4 {
	padding: 150px 0;
	background: url('../img/our_story/our-story-back-image-2.jpg') no-repeat;
	background-position: 0px 100%;
}

.our_story_section_4 .title {
	margin-bottom: 55px;
}
.our_story_section_4 .title:not(:first-of-type) {
	padding-top: 25px;
}
.our_story_section_4 p {
	line-height: 30px;
	margin-bottom: 35px;
}
.our_story_section_4 p.strong {
	font-weight: bold;
}

/*Секция 5*/
.our_story_section_5 {
	padding: 150px 0;
	background: #f1f1f1;
}
.our_story_section_5 .timeline_section {
	position: relative;

}
.our_story_section_5 .timeline_section::before {
	content: "";
	display: block;
	height: 100%;
	width: 4px;
	background: #b0976d;
	position: absolute;
	left: 50%;
	margin-left: -2px;
}
.our_story_section_5 .title_block {
	margin-bottom: 90px;
}
.timeline_block {
	margin-bottom: 90px;
	position: relative;
	overflow: hidden;
}
.timeline_block:last-child {
	margin-bottom: 0;
}
.timeline_block .round {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	line-height: 60px;
	background: #b0976d;
	color: #fff;
	font-size: 30px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -30px;
}
.timeline_block .round img {
	margin-bottom: 5px;
}
.timeline_block .card {
	width: 40%;
	float: left;
	background: #fff;
	position: relative;
}
.timeline_block .card img {
	width: 100%;
	height: auto;
}
.timeline_block .card .card_description {
	padding: 60px;
}
.timeline_block .card .title {
	margin-bottom: 30px;
}
.timeline_block .card h4 {
	font-family: "Playfair Display";
	font-size: 60px;
	line-height: 60px;
	width: 100%;
	position: absolute;
	top: -10px;
	left: 145%;
}
.timeline_block:nth-child(2n) .card {
	float: right;
}
.timeline_block:nth-child(2n) .card h4 {
	left: auto;
	right: 145%;
	text-align: right;
}


/*  Страница ESTATE */
/*=====================*/
/*Секция 1*/

.estate_section_1 img {
	width: 100%;
	height: auto;
}

/*Секция 3*/
.estate_section_3 .slider {
	position: relative;
}
.estate_section_3 #owl-demo .owl-item img{
	display: block;
	width: 100%;
	height: auto;
}
.estate_section_3 .customNavigation > a {
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	color: #fff;
	font-size: 60px;
	background: rgba(0,0,0,.8);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: all .3s linear;
	opacity: 0;
}
.estate_section_3 .customNavigation > a.prev {
	left: -50px;
}
.estate_section_3 .customNavigation > a.next {
	right: -50px;
}
.estate_section_3 .slider:hover .customNavigation > a.prev {
	left: 0;
	opacity: .7;
}
.estate_section_3 .slider:hover .customNavigation > a.next {
	right: 0;
	opacity: .7;
}
.estate_section_3 .customNavigation > a:hover {
	opacity: 1 !important;
}
.estate_section_3 .owl-pagination {
	min-width: 230px;
	min-height: 60px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	transform: translate(-50%, 0);
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}
.estate_section_3 .owl-pagination > div {
	margin: 6px;
}
.estate_section_3 .owl-pagination span {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #333;
	transition: all .1s linear;
}
.estate_section_3 .owl-pagination > div.active > span,
.estate_section_3 .owl-pagination > div:hover  span {
	background: #b0976d;
}

/*Секция 4*/
.estate_section_4 {
	padding: 150px 0;
}
.estate_section_4 .wrap {
	padding: 0 10%;
}

.estate_section_4 .title_block {
	margin-bottom: 55px;
	text-align: center;
}
.estate_section_4 .wrap ul {
	padding: 0;
	margin: 0;
	margin-top: 35px;
	list-style: none;
}
.estate_section_4 .wrap ul > li {
	overflow: hidden;
}
.estate_section_4 .wrap ul > li > div {
	width: 50%;
	float: left;
	line-height: 30px;
}
.estate_section_4 .wrap ul > li > div.char_name {
	position: relative;
	overflow: hidden;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}
.estate_section_4 .wrap ul > li > div.char {
	font-size: 14px;
}
.estate_section_4 .wrap ul > li > div.char_name::after {
	content: "";
	display: block;
	width: 30px;
	height: 1px;
	background: #b0976d;
	float: right;
	position: relative;
	top: 13px;
	margin-right: 30%;
}
/*Секция 5*/
.estate_section_5 {
	padding: 60px 0 150px;
	background: url('../img/estate/the-estate-background.jpg') no-repeat;
	background-size: cover;
	background-position: 0px 0px;
}
.estate_section_5 .container {
	margin: 0 auto;
	max-width: 1200px;
	overflow: hidden;
}
.estate_section_5 .container .row> div {
	padding: 15px;
}
.estate_section_5 .container .row > div .card {
	background: #fff;
	padding: 15%;
}
.estate_section_5 .container .row > div:nth-child(2n-1) .card {
	background: #b0976d;
}
.estate_section_5 .card .icon {
	margin-bottom: 35px;
	font-size: 35px;
	line-height: 35px;
	color: #b0976d;
}
.estate_section_5 .container .row > div:nth-child(2n-1) .card .icon {
	color: #fff;
}
.estate_section_5 .card h2 {
	margin: 30px 0 15px;
}
.estate_section_5 .card p {
	margin-bottom: 35px;
}
/*Секция 6*/
.estate_section_6 {
	padding: 150px 0;
}
.estate_section_6 .title_block {
	margin-bottom: 55px;
}
.estate_section_6 .img_block {
	text-align: center;
}
.estate_section_6 .img_block img {
	max-width: 100%;
	height: auto;
}
.estate_section_6 p {
	margin-bottom: 35px;
}
/*Секция 7*/
.estate_section_7 {
	position: relative;
	padding: 150px 0;
	text-align: center;
}
.estate_section_7 > .container {
	min-height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.estate_section_7 .icon {
	color: #b0976d;
	margin-bottom: 35px;
	font-size: 30px;
	line-height: 30px;
}
.estate_section_7 h1 {
	color: #fff;
}

.estate_section_7 .video_background {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -99;
	background: #000;
}
/*Секция 8*/

.estate_section_8 .flex-row {
	background-color: #fff;
}
.estate_section_8 .description_block {
	padding: 115px;
	text-align: center;
}
/*Секция 9*/
.estate_section_9 {
	padding: 150px 0;
	background: url('../img/estate/the-estate-our-address.jpg') #f2f2f2 no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}
.estate_section_9 .wrap {
	max-width: 750px;
	margin: 0 auto;
	padding: 0 15px;
}
.estate_section_9 h1 {
	margin-bottom: 90px;
}
.estate_section_9 a.contact_link {
	margin: 0 auto;
	width: max-content;
	padding: 0 60px;
	margin-bottom: 20px;
}
/*  Страница our-winemakers */
/*=====================*/
/*Секция 3*/
.our-winemakers_section_3 .flex-row {
	align-items: stretch;
	background-color: #f1f1f1;
}
.our-winemakers_section_3 .img_block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.our-winemakers_section_3 .description_block  {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 115px;
}
.our-winemakers_section_3 h2 {
	margin-bottom: 55px;
}
.our-winemakers_section_3 p {
	margin-bottom: 15px;
	color: #000;
}
.our-winemakers_section_3 blockquote {
	padding: 15px 0;
	padding-left: 80px;
	color: #000;
	font-size: 24px;
	line-height: 36px;
	font-family: "Playfair Display";
	position: relative;
	margin: 0;
}
.our-winemakers_section_3 blockquote i {
	position: absolute;
	left: 0;
	top: 15px;
	font-size: 40px;
	color: #b0976d;
}
.our-winemakers_section_3 .description_block:nth-of-type(2n) {
	background: #121212;
}
.our-winemakers_section_3 .description_block:nth-of-type(2n) h2,
.our-winemakers_section_3 .description_block:nth-of-type(2n) p,
.our-winemakers_section_3 .description_block:nth-of-type(2n) blockquote {
	color: #fff;
}



/*  Страница AWARDS */
/*=====================*/
/*Секция 3*/
.awards_section_3 {
	padding-bottom: 150px;
}
.awards_section_3 ul.awards_ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.awards_section_3 ul.awards_ul li {
	color: #000;
	font-size: 16px;
	line-height: 30px;
	padding-bottom: 5px;
	position: relative;
	padding-left: 55px;
}
.awards_section_3 ul.awards_ul li::before {
	content: "";
	display: block;
	position: absolute;
	top: 15px;
	left: 0;
	width: 30px;
	height: 1px;
	background: #b0976d;	
}
.awards_section_3 .clearfix {
	border-bottom: 1px solid #ebebeb;
	padding: 55px 0;
}
.awards_section_3 .clearfix:first-of-type {
	padding-top: 0;
}
.awards_section_3 .clearfix:last-of-type {
	border-color: transparent;
}
.awards_section_3 .clearfix > div {
	padding: 0;
}

/*  Страница BLOG */
/*=====================*/
/*Секция 1*/
.blog_section_1,
.catalog_section_1 {
	background: #000;
	padding: 130px 0;
	text-align: center;
}
.blog_section_1 h1,
.catalog_section_1 h1 {
	color: #fff;
	font-size: 48px;
	text-transform: uppercase;
}
/*Секция 2*/

.blog_section_2 {
	padding: 150px 0;
}
.blog_section_2 h4 {
	font-size: 20px;
	margin-bottom: 40px;
}
.blog_section_2 .posts_ul li {
	padding-bottom: 5px;
}
.blog_section_2 .posts_ul a {
	display: block;
	text-decoration: none;
	color: #000;
	line-height: 30px;
	font-size: 15px;
}
.blog_section_2 .date {
	display: block;
	font-style: italic;
	color: #999;
	font-size: 14px;
}
.blog_section_2 .new {
	margin-bottom: 70px;
}
.blog_section_2 .new > a {
	display: block;
	text-decoration: none;
}
.new .img_block {
	margin-bottom: 70px;
}
.new .img_block img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.new h2 {
	margin-bottom: 70px;
	font-size: 48px;
}
.new p {
	margin-bottom: 15px;
}
.new .post_author {
	margin-bottom: 15px;
}
.new .post_author a,
.new .content a.more {
	color: #b0976d;
	text-decoration: none;
}

/*  Страница FAQ */
/*=====================*/
/*Секция 2*/
.faq_section_2 {
	padding: 150px 0;
}
.faq_section_2 .title_block {
	margin-bottom: 55px;
}
.faq_section_2 .question_block {
	margin-bottom: 35px;
}
.faq_section_2 .question span {
	display: block;
	font-weight: bold;
	text-decoration: underline;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 15px;
}

/*  Страница CATALOG */
/*=====================*/
/*Секция 1*/

.catalog_section_1 p {
	max-width: 570px;
	margin: 0 auto;
	margin-top: 80px;
	color: rgba(255,255,255,0.3);
}
/*Секция 2*/

.catalog_section_2 {
	padding: 150px 0;
}
.catalog_section_2 .row {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}
.catalog_section_2 article {
	margin-bottom: 30px;
}
.catalog_section_2 article > a {
	display: block;
	text-decoration: none;
}
.catalog_section_2 article h2  {
	text-align: center;
	font-size: 30px;
	margin-bottom: 50px;
	padding: 0 15px;
}
.catalog_section_2 article .img_block {
	background: #f2f2f2;
	padding: 50px;	
	overflow: hidden;
	margin-bottom: 30px;
}
.catalog_section_2 article .img_block img {
	width: 100%;
}

.catalog_section_2 article .product_info {
	padding: 35px;
	background: #f2f2f2;
}
.catalog_section_2 article ul.info_ul > li {
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}
.catalog_section_2 article ul.info_ul > li > div {
	width: 50%;
}
.catalog_section_2 article ul.info_ul > li > div:first-of-type {
	float: left;
	text-align: left;
	padding-right: 20px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	line-height: 30px;
}
.catalog_section_2 article ul.info_ul > li > div:last-of-type {
	float: right;
	text-align: right;
	padding-left: 20px;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
}
.catalog_section_2 article ul.info_ul > li::after {
	content: "";
	background: #b0976d;
	position: absolute;
	width: 30px;
	height: 1px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, 0);
}

.catalog_section_2 article a.add_to_cart {
	display: block;
	width: 100%;
	padding: 18px 45px;
	color: #fff;
	background-color: #000;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: normal;
	letter-spacing: 2px;
	transition: all 0.2s ease-in-out;
	margin-top: 30px;
	text-decoration: none;
	text-align: center;
}
.catalog_section_2 article a.add_to_cart:hover {
	background: #b0976d;
}
/*  Страница CATALOG_Category */
/*=====================*/
/*Секция 2*/
.catalog_img_section img {
	width: 100%;
	height: auto;
}
/*  Страница EVENTS */
/*=====================*/
/*Секция 2*/
.events_section_2 {
	padding: 150px 0;
}
.events_section_2 .events_form {
	overflow: hidden;
	background: #f2f2f2;
	margin-bottom: 90px;
}
.events_section_2 .events_form .filter_block {
	width: 66.666%;
	float: left;
	padding: 15px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}
.events_section_2 .events_form label {
	display: block;
	margin: 0;
	margin-bottom: 15px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
.events_section_2 .events_form input {
	width: 100%;
	border: 1px solid #e9e9e9;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	height: 52px;
	padding: 13px 30px;
	font-size: 12px;
	outline: none;
}
.events_section_2 .events_form .submit_block input {
	display: block;
	background-color: #000;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	line-height: normal;
	padding: 18px 10px;
	text-align: center;
	transition: all ease-in-out 0.2s;
}
.events_section_2 .events_form .filter_block > div {
	float: left;
	width: 33%;
	padding: 15px;
}
.events_section_2 .events_form .sort_block {
	width: 33.333%;
	float: left;
	padding: 30px;
}
.events_section_2 .events_form .sort_block ul {
	display: flex;

}
.events_section_2 .events_form .sort_block ul a {
	display: block;
	padding-top: 15px;
	padding-right: 30px;
	padding-left: 25px;
	text-decoration: none;
	color: #000;
	font-size: 16px;
	line-height: 14px;
	transition: all ease-in-out 0.2s;
}
.events_section_2 .events_form .sort_block ul li.active a,
.events_section_2 .events_form .sort_block ul a:hover {
	color: #b0976d;
}
.events_section_2 .events_form .sort_block ul a.sort_list {
	background: url('../img/events/icon-list.png') no-repeat 0 90%;
}
.events_section_2 .events_form .sort_block ul a.sort_month {
	background: url('../img/events/icon-month.png') no-repeat 0 100%;
}
.events_section_2 .events_form .sort_block ul a.sort_day {
	background: url('../img/events/icon-day.png') no-repeat 0 100%;
}

.events_section_2 .events_form .collapse_link {
	display: none;
	padding: 15px 30px;
	background: #f5f5f5;
	overflow: hidden;
	line-height: 30px;
	cursor: pointer;
}
.events_section_2 .events_form .collapse_link i {
	float: right;
	font-size: 25px;
	line-height: 30px;
}

.events_section_2 .article {
	padding: 55px 0;
	border-bottom: 1px solid #ddd;
}
.events_section_2 .article:first-of-type {
	padding-top: 0;
}
.events_section_2 .article:last-of-type {
	border-bottom: none;
}
.events_section_2 .article a {
	display: block;
	text-decoration: none;

}
.events_section_2 .article h2 {
	font-size: 48px;
	line-height: normal;
	margin-bottom: 55px;
	transition: all ease-in-out 0.2s;
}
.events_section_2 .article a:hover h2 {
	color: #b0976d;
}
.events_section_2 .article .event_cost_block {
	line-height: 1.916;
	margin-bottom: 15px;
}
.events_section_2 .article .cost {
	color: #b0976d;
	font-weight: bold;
}
.events_section_2 .article a.more {
	display: inline;
	color: #b0976d;
}
.events_section_2 .img_link {
	display: block;
	width: 30%;
	margin-right: 3%;
	float: left;
}
.events_section_2 .img_link img {
	width: 100%;
	height: auto;
}
.events_section_2 .btn_block {
	overflow: hidden;
}
.events_section_2 .btn_block a {
	float: right;
	display: block;
	text-decoration: none;
	background-color: #000;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	line-height: normal;
	transition: all ease-in-out 0.2s;
	padding: 18px 45px;
	text-align: center;
}
.events_section_2 .btn_block a:hover {
	background: #b0976d;
}
/*  Страница GALLERY */
/*=====================*/
/*Секция 2*/
.gallery_section_2 {
	display: flex;
	flex-wrap: wrap;
}
.gallery_section_2 .img_block {
	width: 33.333333%;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.gallery_section_2 .img_block::before {
	content: "";
	display: block;
	padding-top: 75%;
}
.gallery_section_2 .img_block img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.gallery_section_2 .img_block .fade {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(40,40,40,0.5);
	z-index: 2;
	color: #fff;
	font-size: 30px;
	opacity: 0;
	transition: all ease-in-out 0.5s;
}
.gallery_section_2 .img_block .fade i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.gallery_section_2 .img_block:hover .fade {
	opacity: 1;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	z-index: 100;
	display: none;
	cursor: pointer;
}
.gallery_popup {
	max-width: 80%;
	max-height: 80%;
	width: max-content;
	height: max-content;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	padding: 10px;
	border-radius: 5px;
	z-index: 999;
	display: none;
}
.gallery_popup.lg {
	max-width: 100%;
	max-height: 100%;
	width: max-content;
	height: auto;

}
.gallery_popup .photo_large {
	height: auto;
	text-align: center;
	position: relative;
}
.gallery_popup .photo_large .left,
.gallery_popup .photo_large .right {
	width: 50%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.gallery_popup .photo_large .right {
	left: auto;
	right: 0;
}
.gallery_popup .photo_large .left .link_prev,
.gallery_popup .photo_large .right .link_next {
	position: absolute;
	left: -5px;
	top: 50%;
	width: 35px;
	height: 30px;
	background: transparent;
	transform: translate(0, -100%);
	font-size: 25px;
	line-height: 29px;
	color: transparent;
	cursor: pointer;
	visibility: hidden;
	border-radius: 5px;
	transition: all ease-in-out 0.3s;
}
.gallery_popup .photo_large .right .link_next {
	left: auto;
	right: -5px;
}
.gallery_popup .photo_large > div:hover .link {
	visibility: visible;
	background: #fff;
	color: #888;
}
.gallery_popup .photo_large img {
	max-width: 100%;
	max-height: -webkit-fill-available;
	object-fit: contain;
}
.gallery_popup .control_panel {
	background: #fff;
	position: absolute;
	width: 100%;
	bottom: 5px;
	left: 0;
	padding: 10px;
	overflow: hidden;
}
.gallery_popup .control_panel .media_block {
	display: flex;
	align-items: center;
	margin-right: 10px;
	float: left;
}
.gallery_popup .control_panel .play,
.gallery_popup .control_panel .close_block {
	width: 30px;
	height: 30px;
	padding-left: 11px;
	line-height: 30px;
	border-radius: 50%;
	font-size: 14px;
	margin-right: 10px;
}
.gallery_popup .control_panel .play.played {
	padding-left: 9px;
}
.gallery_popup .control_panel .prev,
.gallery_popup .control_panel .next {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	line-height: 20px;
	font-size: 10px;
	margin-right: 5px;
}
.gallery_popup .control_panel .prev {
	padding-left: 4px;
}
.gallery_popup .control_panel .next {
	padding-left: 6px;
}
.gallery_popup .control_panel .media,
.gallery_popup .resize {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	transition: background-color ease-in-out 0.1s;
	color: #888;
	cursor: pointer;
}
.gallery_popup .control_panel .media:hover,
.gallery_popup .resize:hover {
	background: #f0f0f0;
}
.gallery_popup .control_panel .num_block {
	color: #999;
	font-size: 11px;
	line-height: 25px;
	font-family: Georgia;
	padding-left: 10px;
}

.gallery_popup .control_panel .img_name {
	line-height: 14px;
	font-size: 11px;
	color: #000;
	float: left;
	margin-top: 9px;
}
.gallery_popup .control_panel .close_block {
	padding: 0;
	margin: 0;
	text-align: center;
	float: right;
}
.gallery_popup .resize {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	font-size: 14px;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 999;
	background: #fff;
}
/*  Страница Contact */
/*=====================*/
/*Секция 2*/

.contacts_section_2 img {
	width: 100%;
	height: auto;
}
/*Секция 3*/
.contacts_section_3 {
	background: #000;
	padding: 150px 0;
}
.contacts_section_3 .info_block {
	margin-bottom: 90px;
}
.contacts_section_3 .info_block:last-of-type {
	margin-bottom: 0;
}
.contacts_section_3 .info_block .title {
	margin-bottom: 40px;
}
.contacts_section_3 .info_block p {
	color: #fff;
	margin-bottom: 0;
}
.contacts_section_3 .info_block a {
	text-decoration: none;
	color: #b0976d;
}
.contacts_section_3 .info_block a.call {
	text-decoration: none;
	color: #fff;
	display: block;
}
.contacts_section_3 .info_block .ul {
	color: #fff;
}
.contacts_section_3 .info_block .ul .line {
	overflow: hidden;
}
.contacts_section_3 .info_block .ul .day {
	float: left;
	padding-right: 60px;
	text-transform: uppercase;
	min-width: 200px;
	margin-right: 60px;
	line-height: 30px;
	font-weight: bold;
	font-size: 12px;
	position: relative;
}
.contacts_section_3 .info_block .ul .time {
	padding-left: 60px;
	font-size: 14px;
	line-height: 30px;
}

.contacts_section_3 .info_block .ul .day::after {
	content: "";
	display: block;
	width: 30px;
	height: 1px;
	background: #b0976d;
	position: absolute;
	top: 50%;
	right: -15px;
}
/*Секция 4*/
.contacts_section_4 a.wiew_map {
	text-decoration: none;
	display: block;
	width: 100%;
	color: #fff;
	background-color: #000;
	padding: 18px 10px;
	text-align: center;
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	line-height: normal;
	margin: 15px 0;
	transition: all ease-in-out 0.2s;
}
.contacts_section_4 a.wiew_map:hover {
	background-color: #b0976d;
}
.contacts_section_4 p {
	margin-bottom: 0;
	margin-top: 75px;
}
.contacts_section_4 form {
	margin-top: 90px;
	margin-bottom: 150px;
}
.contacts_section_4 .select_block {
	position: relative;
	margin-bottom: 20px;
}
.contacts_section_4 .select_block .message {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	color: #cc3d3d;
}
.contacts_section_4 .select_block input,
.contacts_section_4 .select_block textarea {
	width: 100%;
	box-shadow: none;
	height: 52px;
	padding: 13px 30px;
	font-size: 12px;
	line-height: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	background: transparent;
	border: 1px solid #e9e9e9;
	color: #000;
	outline: none;
}
.contacts_section_4 .select_block textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
}
.contacts_section_4 .select_block i {
	position: absolute;
	right: 20px;
	top: 0;
	color: #ccc;
	font-size: 10px;
	line-height: 50px;
}
.contacts_section_4 .select_block i.fa-check {
	color: #000;
}
.contacts_section_4 .select_block i.fa-times {
	color: #cc3d3d;
}
.contacts_section_4 .select_block input.error,
.contacts_section_4 .select_block textarea.error {
	border-color: #cc3d3d;
}
.contacts_section_4 .submit_btn {
	padding: 18px 10px;
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	line-height: normal;
	text-align: center;
	display: block;
	min-width: 131px;
	cursor: pointer;
	background: #fff;
	border: 1px solid #e5e5e5;
}
.contacts_section_4 .submit_btn:hover {
	border-color: #000;
}
.contacts_section_4 .submit_btn:active {
	background: #d4d4d4;
	border-color: #000;
}
/*Секция MAP*/
.map_modal {
	position: fixed;
	z-index: 999;
	background: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: max-content;
	height: max-content;
	padding: 10px;
	display: none;
}
div#map {
	width: 100%;
	height: 400px;
}
.map_modal .close_btn {
	position: absolute;
	top: 20px;
	right: 55px;
	z-index: 999;
	width: 24px;
	height: 24px;
	font-size: 21px;
	line-height: 22px;
	text-align: center;
	cursor: pointer;
	background: #fff;
	color: #787878;
}
.overflow {
	overflow: hidden;
}





/*Футер*/
footer {
	background: #121212;
	font-size: 12px;
	padding: 90px 0;
	color: #414141;
}
footer .title_block {
	text-align: center;
	margin-top: 90px;
}
footer h2 {
	font-size: 48px;
	line-height: normal;
	color: #ffffff;
	margin-bottom: 15px;
}
footer .footer_bottom {
	margin: 0 -15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 180px;
}
.footer_menu ul {
	margin: 0;
	padding: 0;
	display: flex;

}
.footer_menu ul a {
	display: block;
	padding: 0 20px;
	color: #414141;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.916;
	transition: all .2s linear;
}
.footer_menu ul li:first-child a {
	padding-left: 0;
}
.footer_menu ul a:hover {
	color: #b0976d;
}

.footer_social {
	display: flex;

}
.footer_social a {
	height: 35px;
	padding: 0 15px;
	color: #414141;
	font-size: 18px;
	line-height: 35px;
	transition: all .2s linear;
}
.footer_social a:hover {
	color: #b0976d;
}


footer .copy {
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: 2px;
}

/* Флекс сетка */
.flex-row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

}
.flex-row > .sm-6,
.flex-row > .md-6 {
	width: 50%;
}
.flex-row > .md-4 {
	width: 33.3333%
}
.flex-row > .md-8 {
	width: 66.6666%
}
/*----*/

/* Прелоадер */
.preload {
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 999;
}
.preload .inner {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	transform: translate(-50%, -50%);
}
.preload .rotate {
	display: inline-block;
	width: 100px;
	height: 100px;
	z-index: 10;
	border: 2px solid #ccc;
	border-top-color: transparent;
	border-radius: 50%;
	position: absolute;
	animation-name: spin;
	animation-duration: 600ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}
.preload .progress {
	line-height: 100px;
	text-align: center;
	position: relative;
	z-index: 11;
	font-family: "Playfair Display";
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}
 
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/*Поиск*/

.search_wrap {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	transition: all 0.3s ease-in-out;
	transform: translate(0px, -100%) scale(0, 0);
	opacity: 0;
	z-index: 9999;
}
.search_wrap.open {
	transform: translate(0px, 0px) scale(1, 1);
	opacity: 1;
}
.search_input {
	color: #fff;
	background: rgba(255, 255, 255, 0.1);
	font-size: 18px;
	letter-spacing: 4px;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width: 80%;
	margin: 0 auto;
	margin-top: -51px;
	padding: 30px;
	text-transform: uppercase;
	text-align: center;
	margin-top: -51px;
	height: auto;
	font-weight: bold;
}
.search_input::-webkit-input-placeholder {
	color: #bbb;
}
.search_input:-moz-placeholder {
	color: #bbb;
}
.search_input::-moz-placeholder {
	color: #bbb;
}
.search_input:-ms-input-placeholder {
	color: #bbb;
}
.search_btn {
	display: inline-block;
	width: 160px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 91px;
	margin-left: -80px;
	text-transform: uppercase;
	padding: 16px 48px;
	background: #fff;
	color: #000;
	border-radius: 0;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: bold;
	line-height: normal;
	border: 1px solid transparent;
	transition: all ease-in-out 0.2s;
	user-select: none;
}
.close_search {
	position: absolute;
	top: 60px;
	right: 60px;
	color: #000;
	width: 40px;
	height: 40px;
	line-height: 36px;
	text-align: center;
	background-color: #fff;
	border: 1px solid transparent;
	font-size: 18px;
}
.search_btn:hover,
.close_search:hover {
	border-color: #b0976d;
}