/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.header_nav {
		display: none;
		width: 110%;
		border-top: 1px solid rgba(255,255,255,0.1);
		padding: 30px 15px;
		margin-right: -15px;
		margin-left: -15px;
		overflow: hidden;
	}
	.container_flex .navbar {
		width: 100%;
		min-height: 98px;
	}
	ul.header_nav_ul {
		display: flex;
		flex-wrap: wrap;
	}
	ul.header_nav_ul > li {
		width: 100%;
	}
	ul.header_nav_ul > li > a {
		padding: 10px 0;
		text-align: center;
		font-size: 14px;
	}
	ul.header_nav_ul > li ul.drop_menu {
		position: static;
		text-align: center;
		background: rgba(255,255,255,0.1);
	}
	ul.header_nav_ul > li ul.drop_menu a {
		padding: 5px 10px;
		font-size: 14px;
	}
	ul.header_nav_ul > li ul.drop_menu {
		visibility: visible;
		opacity: 1;
		display: none;
		transition: none;
	}
	.our_wines_section_2 p,
	.estate_section_2 p {
		width: 100%;
	}
	.bg {
		height: 98px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.flex-row > [class^= "md-"] {
		width: 100%;
	}
	.header_section .caption_block {
		padding: 80px 0;
	}
	.header_section .caption_block > div {
		margin-bottom: 20px;
		text-align: center !important;
	}
	.header_section .caption_block .first {
		font-size: 10px;
		line-height: 14px;
	}
	.header_section .caption_block .second {
		font-size: 33px;
		line-height: 33px;
	}
	.header_section .caption_block .third {
		font-size: 62px;
		line-height: 62px;
	}
	.header_section img {
		max-width: 345px;
		margin-bottom: 20px;
	}
	.img_section .descript_bg_block .fix {
		margin-top: 0;
	}
	.img_section .flex-row > div.descript_bg_block,
	.estate_section .description_block {
		padding: 60px 10px;
	}
	.inst_section .inst_description {
		min-height: auto;
		padding: 50px 10px;
	}
	footer .footer_bottom {
		flex-wrap: wrap;
	}
	.footer_menu ul,
	.footer_social,
	footer .footer_bottom {
		justify-content: center;
	}
	footer .footer_bottom > div {
		width: 100%;
		margin-top: 25px;
	}
	footer .copy {
		text-align: center;
	}
	footer .footer_bottom {
		margin-top: 90px;
	}
	.timeline_block .card {
		float: none;
		width: 100%;
	}
	.timeline_block .card h4 {
		position: static;
		text-align: left !important;
	}
	.estate_section_8 .description_block,
	.our-winemakers_section_3 .description_block {
		padding: 10%;
	}
	.blog_section_1,
	.blog_section_2,
	.faq_section_2,
	.catalog_section_1,
	.events_section_2 {
		padding: 90px 0;
	}
	.events_section_2 .events_form .filter_block,
	.events_section_2 .events_form .sort_block,
	.events_section_2 .events_form .filter_block > div {
		width: 100%;
	}
	.events_section_2 .events_form .collapse_link {
		display: block;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.varieties_section .sort {
		display: block;
	}
	.link_block {
		justify-content: center;
	}
	.link_block a {
		margin: 0 10px !important;
	}
	.varieties_section {
		padding-top: 50px;
	}
	.varieties_section .sort {
		padding-bottom: 50px;
	}
	.estate_section > .container,
	.our_story_section_4,
	.our_story_section_5,
	.awards_section_3,
	.events_section_2 {
		padding: 50px 0;
	}
	.visit_section,
	.our_wines_section_5,
	.our_wines_section_2,
	.estate_section_2,
	.catalog_section_2 {
		padding: 90px 0;
	}
	.our_wines_section_5 .wrap {
		padding: 90px 10px;
	}
	.our_story_section_4 {
		background: none;
	}
	.our_story_section_3 {
		padding: 90px 0 45px;
	}
	.estate_section_9 a.contact_link {
		padding: 0 15px;
	}
	.estate_section_7 {
		padding: 0;
	}
	.awards_section_3 .clearfix > div {
		padding: 15px;
	}
	.events_section_2 .btn_block a,
	.gallery_section_2 .img_block {
		width: 100%;
	}
	.contacts_section_3 .info_block {
		margin-bottom: 40px !important;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.inst_section ul.inst_photos > li {
		width: 50%;
		height: auto;
	}
	.link_block a {
		margin: 0;
		width: 100%;
	}
	.timeline_block .card .card_description {
		padding: 60px 20px;
	}
	.footer_menu ul {
		flex-direction: column;
		align-items: center;
	}
	.footer_menu ul a {
		padding: 0;
		margin-bottom: 15px;
	}
	footer .footer_bottom > div {
		padding: 0 20px;
	}
	.our-winemakers_section_3 blockquote {
		padding-left: 55px;
		font-size: 20px;
		line-height: 30px;
	}
	.blog_section_1,
	.blog_section_2,
	.faq_section_2,
	.catalog_section_1 {
		padding: 30px 0;
	}
	.new h2 {
		font-size: 20px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	/* Удалить */
	/*
	ul.header_nav_ul > li:hover ul.drop_menu {
		display: block;
	} */
	/*====*/
	.glass_man_section .description_block {
		padding: 150px;
		padding-left: 30px;
	}
}